@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
  font-size: $font-size-sm;
  font-weight: 500;
  @media screen and (min-width: $sm) {
    font-size: $font-size-md;
  }
  @media screen and (min-width: $xl) {
    font-size: $font-size-xl;
  }
}

a {
  text-decoration: none;
}

button {
  appearance: none;
  line-height: 1.2;
}

ul {
  list-style: none;
}

figure {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  @media screen and (min-width: $sm) {
    font-size: 36px;
  }
  @media screen and (min-width: $lg) {
    font-size: 40px;
  }
}
