.btn {
  border-radius: 10px;
  font-weight: 700;
  padding: 20px 25px;
  border: 2px solid $primary-color;
  cursor: pointer;
  @media screen and (min-width: $sm) {
    border-radius: 20px;
  }
  &.primary {
    color: #fff;
    background: $primary-color;
  }
  &.secondary {
    color: $primary-color;
    background: rgba(196, 196, 196, 0.1);
  }
  &.btn-header {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 20px 26px;
    border: none;
  }
  &.btn-verify-status {
    border: none;
    padding-top: 16px;
    padding-bottom: 16px;
    color: #fff;
    background: rgba(196, 196, 196, 0.25);
    @media screen and (min-width: $sm) {
      padding-top: 13px;
      padding-bottom: 13px;
      font-size: 20px;
    }
  }
  &.btn-verify-phone {
    padding: 20px 70px;
  }
  &.btn-quote {
    border: none;
    border-radius: 0px 20px 20px 0px;
    background: #0b153c;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    padding: 10px 24px 9.5px 14px;
    @media screen and (min-width: $md) {
      border-radius: 0px 30px 30px 0px;
      padding: 17px 30px 18px;
    }
  }
}
