// screen sizes
$xxl: 1400px;
$xl: 1200px;
$lg: 1025px;
$md: 768px;
$sm: 576px;

// font sizes
$font-size-sm: 14px;
$font-size-md: 20px;
$font-size-xl: 24px;

//colors
$primary-color: #17c2ec;
$faded-black: transparentize(#000, 0.5);
$faded-white: transparentize(#fff, 0.5);
