body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

.assgn {
  width: 100%;
}
.assgn__table {
  width: 100%;
  border-collapse: collapse;
}
.assgn__table tr:nth-child(odd) {
  background-color: #d6eeee;
}
.assgn__table th {
  background-color: #ddffff;
}
.assgn__table :is(th, td) {
  padding: 10px 0;
}

.with-link {
  text-align: center;
  width: 20%;
}
.with-link a {
  text-decoration: none;
  background-color: rgb(93, 231, 59);
  padding: 4px 7px;
  border-radius: 5px;
}
