.btn {
  font-weight: 500;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  // default button is medium sized
  padding: 16px 32px;
  // small sized button
  &.small {
    padding: 12px 24px;
    line-height: 20px;
  }

  &.sign-up {
    background: rgba(255, 255, 255, 0.1);
    color: $white;
  }
}
