.btn {
  font-weight: 500;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  // default button is medium sized
  padding: 16px 24px;
  // small sized button
  &.small {
    padding: 12px 24px;
    line-height: 20px;
  }
  &.big {
    padding: 24px 32px;
    font-size: 18px;
  }
  &.sign-up {
    background: rgba(255, 255, 255, 0.1);
    color: $white;
  }
  &.secondary {
    background: none;
    color: $white;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  &.subscribe {
    padding: 10px 24px;
    background: #4e46e8;
    color: $white;
    align-self: center;
    @media screen and (min-width: $medium) {
      color: $black;
      background: $white;
    }
    @media screen and (min-width: $xl) {
      padding: 16px 32px;
    }
  }
}
