.clients {
  display: none;
  @media screen and (min-width: $medium) {
    display: flex;
  }
  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__actions {
    display: none;
    @media screen and (min-width: $xl) {
      display: flex;
      gap: 16px;
    }
    a {
      display: flex;
      align-items: center;
      max-width: 24px;
      border-radius: 50%;
      background: rgba(29, 28, 49, 0.05);
      padding: 14px;
    }
  }
  &__cards {
    display: flex;
    gap: 20px;
    margin: 32px 0 80px;
    @media screen and (min-width: $xl) {
      gap: 32px;
      margin: 40px 0 39px;
    }
  }
  &__info {
    display: flex;
    gap: 24px;
  }
  &__card {
    border: 1px solid transparentize($black, 0.9);
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    background-image: url(../assets/images/clients-bg.svg);
    background-repeat: no-repeat;
    @media screen and (min-width: $xl) {
      padding: 32px;
    }
    &--feedback {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid transparentize($black, 0.9);
      line-height: 32px;
      @media screen and (min-width: $xl) {
        padding-bottom: 32px;
        margin-bottom: 32px;
      }
    }
    &--name {
      color: $black;
      font-family: "Poppins";
      font-size: 18px;
      font-weight: 500;
      line-height: normal;
      @media screen and (min-width: $xl) {
        font-size: 20px;
      }
    }
    &--date {
      color: transparentize($black, 0.5);
      font-size: 12px;
      line-height: normal;
      margin: 4px 0;
      @media screen and (min-width: $xl) {
        font-size: 14px;
        margin: 8px 0;
      }
    }
    &--image {
      border-radius: 50%;
      max-width: 70px;
      max-height: 70px;
      border: 3px solid #fff;
      box-shadow: 0px 4px 27px 0px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      @media screen and (min-width: $xl) {
        max-width: 80px;
        max-height: 80px;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    &.selected {
      background: linear-gradient(122deg, #5d55ff 0.86%, #4a43e3 100%);
      color: $white;
      .clients__card--name {
        color: $white;
      }
      .clients__card--date {
        color: transparentize($white, 0.5);
      }
    }
  }
  &__bottom {
    display: none;
    @media screen and (min-width: $xl) {
      display: flex;
      max-width: 284px;
      margin: 0 auto 120px;
    }
  }
}
