.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0;
  @media screen and (min-width: $medium) {
    padding: 36px 0;
  }
  @media screen and (min-width: $large) {
    padding: 35px 0;
  }
  &__logo {
    figure {
      display: flex;
      align-items: center;
      max-width: 119px;
      @media screen and (min-width: $large) {
        max-width: 142px;
      }
    }
  }
  &__nav {
    display: none;
    list-style: none;
    gap: 32px;
    align-items: center;
    &--item {
      color: $secondary-color;
      &.selected {
        color: $white;
        font-weight: 500;
      }
    }
    @media screen and (min-width: $medium) {
      display: flex;
    }
  }
  &__mobile-toggle {
    display: inline-block;
    cursor: pointer;
    @media screen and (min-width: $medium) {
      display: none;
    }
  }
}
