.container {
  padding: 0 24px;
  @media screen and (min-width: $mobile-size) {
    padding: 0 36px;
  }
  @media screen and (min-width: $tablet-size) {
    padding: 0;
    max-width: 1400px;
    margin: 0 auto;
  }
}
